* {
    font-family: "DejaVu Sans";
}
html {
    margin: 0;
}
body {
    font-size: 12px;
    margin: 30px;
}
body, h1, h2, h3, h4, h5, h6, table, th, tr, td, div {
    line-height: 1.1;
}

/* HEADER */
.header {
	height: 100px;
}

.logo {
	margin-top: 5px;
}

.offer-user-details p,
.invoice-user-details p{
	text-align: right;
    margin-bottom: 0.1rem; 
}

.user-customer-details {
	max-height: 30px;
}

.offer-customer-details,
.invoice-customer-details {
    width: 300px;
}

.offer-details,
.invoice-details {
	text-align: right;
}

hr {
	margin-top: 0rem;
}
/* END HEADER */

/* OFFER TITLE */
.offer_title,
.invoice_title  {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}
/* END OFFER TITLE */

/* CONTENT */
.offer-articles-table,
.invoice-articles-table {
    padding-top: 0px;
    padding-bottom: 50px;
}

.offer-articles-table,
.invoice-articles-table tbody {
	font-size: 10px;
}

.offer-amounts,
.invoice-amounts {
    text-align: right;
    font-size: 12px;
    font-weight: 700;
}

.offer-amounts p,
.invoice-amounts p {
    margin-bottom: 0.5em;
}
/* END CONTENT */

/* FOOTER */
footer {
    position: fixed; 
    bottom: 0px; 
    left: 0px; 
    right: 0px;
    height: 70px;
    margin: 30px;
}

.foo1 {
	text-align: left;
}

.foo1 p, .foo2 p, .foo3 p{
    margin-bottom: 0.1em; 
}

.foo2 {
	text-align: center;
}

.foo3 {
	text-align: right;
}

.pagenum:before {
    content: counter(page);
}

.page-break {
    page-break-before: always;
}
/* END FOOTER */