.customer,
.user {
	padding-bottom: 1em;
}

.feather-icons {
	vertical-align: middle;
	padding-right: 0.4em;
}

.show-back {
	margin-top: 1em;
}

/* Sidebar */
.sidebar-item {
	padding-left: 10px;
}
#sidebar .sidebar-header {
	padding-bottom: 11px;
	background: #343a40;
}
.navbar {
    margin-bottom: 20px;
}
#content {
	padding: 0px;
}


/* Main content */
.main-content {
	padding: 20px;
}

.dashboard_message {
	margin-top: 20px;
    font-size: 14px;
    font-family: tahoma;
    height: 160px;
    border: 1px solid #ccc;
    color: #555;
    background-color: #f5f4f2;
    display: block;
    padding: 10px;
    box-sizing: border-box;
	box-shadow: 2px 2px 5px rgba(0,0,0,.2);
}
#close {
    float:right;
    display:inline-block;
    padding: 2px 5px;
    background:#ccc;
    cursor: pointer;
}
.no-messages {
	margin-top: 20px;	
}

.table {
	padding-top: 20px;
}
#articles-table tbody tr {
 	cursor: pointer;
 	width: auto;
}


/* Loading spinner */
/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 3em;
  width: 3em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("../img/loader2.gif") no-repeat scroll center center #FFF;
}
/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}


/* OFFERS & INVOICES */
.validation-messages, 
.invoice-form-error-class,
.offer-form-error-class,
.articles-fields-error-class, 
.custom-insert-modal-error-class,
.edit-modal-error-class {
	color: red;
	font-size: 0.8em;
}

.invoice-buttons,
.offer-buttons {
	margin-top: 50px;
}

#offer-form,
#invoice-form,
.offer-article-image-preview,
.invoice-article-image-preview {
	margin-bottom: 30px;
}

.form-offer-inline-elements,
.form-invoice-inline-elements {
	display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
    height: 100%;
    padding-bottom: 1rem;
}

#offer-articles-table td,
#invoice-articles-table td {
	vertical-align: unset;
}

#offer-articles-table tfoot tr td,
#invoice-articles-table tfoot tr td {
	font-weight: 600;
}

.offer-tax-total,
.invoice-tax-total {
	border: hidden;
}

#offer-articles-table tfoot tr:first-child,
#invoice-articles-table tfoot tr:first-child  {
	height: 100px;
}

#offer-articles-table tfoot tr td,
#invoice-articles-table tfoot tr td {
	vertical-align:bottom;
	text-align:end;
	padding: 0.3rem;
}

/* Settings */
.settings {
	margin-bottom: 1em;
}


/* ADMIN */
.user-active {
	color: green;
	font-weight: 900;
}

.user-inactive {
	color: red;
	font-weight: 900;
}